<div class="contenedorr">
  <div class="wrap" id="categoryHtml">
    <a href="/resources/categoryHtml"><img src="/images/whiteHtml.png" alt=""></a>
    <video playsInline="true" autoplay loop muted playsinline>
      <source src="/images/computadora-portatil-117.mp4" type="video/mp4">
      </source>
    </video>
  </div>
  <div class="wrap" id="categoryCSS">
    <a href="/resources/categoryCss"><img src="/images/whitecss.png" alt=""></a>
    <video playsInline="true" autoplay loop muted playsinline>
      <source src="/images/red-12716.mp4" type="video/mp4">
      </source>
    </video>
  </div>
  <div class="wrap" id="categoryJS">
    <a href="/resources/categoryJs"><img src="/images/whitejs.png" alt=""></a>
    <video playsInline="true" autoplay loop muted playsinline>
      <source src="/images/codigos-23355.mp4" type="video/mp4">
      </source>
    </video>
  </div>
  <div class="wrap" id="categoryPhp">
    <a href="/resources/categoryPhp"><img src="/images/whitephp1.png" alt=""></a>
    <video playsInline="true" autoplay loop muted playsinline>
      <source src="/images/falla-27706.mp4" type="video/mp4">
      </source>
    </video>
  </div>
  <div class="wrap" id="categoryPython">
    <a href="/resources/categoryPython"><img src="/images/whitepython.png" alt=""></a>
    <video playsInline="true" autoplay loop muted playsinline>
      <source src="/images/electronica-5364.mp4" type="video/mp4">
      </source>
    </video>
  </div>
</div>
<div>
  <div class="content padd">
    <h1>JS </h1>
    <div class="row align-items-center justify-content-center">
      {{#each js}}
      <div class="col-lg-3 card mt-2 mr-0 p-2 m-2">
        <div class="row p-3">
          <img src="../../uploads/{{image.filename }}" class="img" alt="...">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{category}}</p>
          <a href="/resource/{{id}}" class="btn descover ">Descover !</a>
        </div>
      </div>
      {{/each}}
    </div>
    <button class="btn btn-primary back"><a href="/resources" class="enlace">Return</a></button>
  </div>