<div class="sectionB">
  <div class="content">
<div class='container logger padd'>
  <div id="login-form">
    <form action="/login" method="POST">
      <h1>Welcome back,</h1>
      <label> 
        <input type="email" name="email" placeholder="Your email"  class="my-input"/>
      </label>

      <label> 
        <input type="password" name="password" placeholder="Your password" class="my-input" />
      </label>

      <button type="submit">Log In</button>


      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
</div>  
</div>