<div class="background">
  <div class="menu-container">
    <ul class="menu">
      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">HTML</span>
          <span><img src="images/html-5.png" width="35px" height="35px"></span>
        </a>
      </li>

      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">CSS</span>
          <span><img src="images/css.png" alt="" width="35px" height="35px"></span>
        </a>
      </li>

      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">JS</span>
          <span><img src="images/js.png" alt="" width="35px" height="35px"></span>
        </a>
      </li>

      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">PHP</span>
          <span><img src="images/documento-php.png" alt="" width="35px" height="35px"></span>
        </a>
      </li>

      <li class="menu__item">
        <a href="#" class="menu__link">
          <span class="menu__text">PYTHON</span>
          <span><img src="images/piton.png" alt="" width="35px" height="35px"></span>
        </a>
      </li>
    </ul>
  </div>



  <section class="sectionB">

    <div class="">
      <div class="content">
        <div class="container">
          <img src="images/Web-development,-programmer-engineering-and-coding-website-on-augmented-reality-interface-screens-on-transparent-background-PNG.png" alt="" id="programmer" class="img-fluid">
        </div>
        
        <button type="button" class="btn btn-primary "><a href="/new-resource" class="styleA ">Add a new resource!</a></button>
        <div class="content padd">
          <h1>Or explore... </h1>
          <div class="card-group">
            <div class="card m-2">
              <img src="images/cod1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a continuación como introducción
                  natural a contenido adicional. Este contenido es un poco más largo.</p>
                <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
              </div>
            </div>
            <div class="card m-2">
              <img src="images/cod1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Esta tarjeta tiene texto de apoyo a continuación como una introducción natural a
                  contenido adicional.</p>
                <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
              </div>
            </div>
            <div class="card m-2">
              <img src="images/cod1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a continuación como introducción
                  natural a contenido adicional. Esta tarjeta tiene un contenido aún más largo que la primera para
                  mostrar
                  esa acción de igual altura.</p>
                <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </section>
</div>