<div class="background">
  <section class="sectionB">
    <!--section -->
    <div class="contenedorr">
      <div class="wrap">
        <img src="/images/whiteHtml.png" alt="">
        <video playsInline="true" autoplay loop muted playsinline>
          <source src="/images/computadora-portatil-117.mp4" type="video/mp4" > </source>
        </video>
        </div>
      <div class="wrap">
        <img src="/images/whitecss.png" alt="">
        <video playsInline="true" autoplay loop muted playsinline>
          <source src="/images/red-12716.mp4" type="video/mp4" > </source>
        </video>
      </div>
      <div class="wrap">
        <img src="/images/whitejs.png" alt="">
        <video playsInline="true" autoplay loop muted playsinline>
          <source src="/images/codigos-23355.mp4" type="video/mp4" > </source>
        </video>
        </div>
      <div class="wrap">
        <img src="/images/whitephp1.png" alt="">
        <video playsInline="true" autoplay loop muted playsinline>
          <source src="/images/falla-27706.mp4" type="video/mp4" > </source>
        </video>
        </div>
      <div class="wrap">
        <img src="/images/whitepython.png" alt="">
        <video playsInline="true" autoplay loop muted playsinline>
          <source src="/images/electronica-5364.mp4" type="video/mp4" > </source>
        </video>
        </div>
    </div>

    <!--section -->

    <div class="content">
      
      <button type="button" class="btn btn-primary padd"><a href="/new-resource" class="styleA ">Add a new
          resource!</a></button>
      <div class="content padd">
        <h1>Or explore... </h1>
        <div class="row row-cols-1 row-cols-md-1">
          {{#each resources}}
          <div class="col-6 p-1">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.category}}</p>
                <a href="/resource/{{id}}" class="btn btn-primary">Descover !</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>


    </div>

  </section>

</div>