<div class="background">
    <div class="padd">
        <div class="container modelbox">
    <h1>{{resource.title}}</h1>
    <h4>Category:{{resource.category}}</h4>

    <textarea name="content" id="" cols="30" rows="10" class="tinymce">
        {{resource.content}}
    </textarea>
    <p>{{resource.code}}</p>

    
    <button type="button" class="btn btn-warning">Delete</button>
    </div>
    </div>
</div>

