<section class="one">
  <div class="content">

    <section class="wrapper">
      <div class="top">Learnify</div>
      <div class="bottom" aria-hidden="true">Learnify</div>
    </section>

    <h2 class="effectB">
      <span>A platform</span>
      <span>that</span>
      <span>seeks</span>
      <span>to</span>
      <span>simplify</span>
      <span>the</span>
      <span>process</span>
      <span>of</span>
      <span>learning</span>
      <span>to</span>
      <span>code</span>
    </h2>
    <a href='/resources' class="startButton">Discover</a>
  </div>
</section>