<section class="one">
    <div class="content">
        <h1 class="title"> 	&#10100Learnify &#10101 
            <div class="aurora">
                <div class="aurora__item"></div>
                <div class="aurora__item"></div>
                <div class="aurora__item"></div>
                <div class="aurora__item"></div>

            </div>
        </h1>
        <h3 class="subtitle">A platform that seeks to simplify the process of learning to code</h3>
        <a href='/resources' class="startButton">Discover &#128640</a>
    </div>
</section>
