{{#if user}}
<div class="menu-container">
  <ul class="menu">
    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__text">HTML</span>
        <span><img src="images/html-5.png" width="35px" height="35px"></span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__text">CSS</span>
        <span><img src="images/css.png" alt="" width="35px" height="35px"></span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__text">JS</span>
         <span><img src="images/js.png" alt="" width="35px" height="35px"></span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__text">PHP</span>
       <span><img src="images/documento-php.png" alt="" width="35px" height="35px"></span>
      </a>
    </li>

    <li class="menu__item">
      <a href="#" class="menu__link">
        <span class="menu__text">PYTHON</span>
       <span><img src="images/piton.png" alt="" width="35px" height="35px"></span>
      </a>
    </li>
  </ul>
</div>
<div class="sectionB">   
<div class="background content ">
    <h4 class="blue">Welcome to your dashboard, {{ user.email }}!</h4>

    <div class="container dashboard">
        <p class="align">This is your profile page my friend!</p>
    </div>
</div>
</div>
{{else}}

<br>
<p>Your session is not active. Please loggin.</p>

{{/if}}