<div class="menu-container">
    <!-- Contenido del menú -->
</div>

<div class="sectionB">
    <div class="background content">
        <h4 class="blue">Welcome to your dashboard, {{ user.email }}!</h4>

        <div class="container dashboard">
            <p class="align">This is your profile page, my friend!</p>
        </div>

    </div>
</div>